body {
    background-image: url("img/full-bloom.png");
    background-attachment: fixed;
    background-position: center;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #0d6efd);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(#0d6efd, transparent, #0d6efd);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #344fa1);
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0d6efd;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

h2,
.white-text {
    color: white;
}

.black-text {
    color: black;
}

.jumbotron {
    position: relative;
    height: 580px;
    padding-top: 5rem;
    background-image: url("img/round.png");
    background-attachment: fixed;
    background-position: center;
}

.jumbotron .container {
    animation: animate 4s ease-in-out infinite;
}

section#about {
    padding-top: 5rem;
    position: relative;
    background-color: #0d6efd;
}

section#about svg {
    margin-bottom: 0;
}

section#projects {
    padding-top: 4rem;
}

section#contact {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 7rem;
    background-color: #3f3697;
}

#footer-bx {
    background-color: #0d6efd !important;
    padding-top: 2rem;
}

footer p {
    animation: animate 4s ease-in-out infinite;
}

.bg-primary {
    background: transparent !important;
    transition: 0.75s ease;
}

.bg-primary.scrolled {
    background: #0d6efd !important;
}

.navbar-light a {
    color: black !important;
    transition: 1s ease;
}

.navbar-light.scrolled a {
    color: white !important;
}

.asbx {
    text-decoration: none;
    transition: 1s ease;
}

.asbx:hover {
    color: red !important;
    transition: 1s ease;
}

.parallax {
    padding-top: 5rem;
    background-image: url("img/full-bloom.png");
    background-attachment: fixed;
    background-position: center;
}

.card {
    background-color: #344fa1;
}

.card iframe {
    height: 240px;
}

.card .card-text {
    color: white;
}

.anim {
    animation: animate 4s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.25s);
}

/* navbar */
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: #0d6efd;
}

nav.stroke ul li a {
    position: relative;
}

nav.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}

/* end nav bar */

.lead {
    padding: 0 10px;
    margin: 0;
}

.lead .univ {
    padding: 0;
    margin: 0;
}

p.ex2 {
    display: inline-block;
    z-index: 0;
}

.wave,
.wavebtm {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(img/waveblue.png);
    background-size: 1000px 100px;
    animation: animate 4s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.25s);
}

.wave#wave1,
.wavebtm#wavebtm1 {
    z-index: 1000;
    opacity: 1;
    background-position-x: 400px;
}

.wave#wave2,
.wavebtm#wavebtm2 {
    z-index: 999;
    opacity: 0.5;
    background-position-x: 300px;
}

.wave#wave3,
.wavebtm#wavebtm3 {
    z-index: 998;
    opacity: 0.2;
    background-position-x: 200px;
}

.wave#wave4,
.wavebtm#wavebtm4 {
    z-index: 999;
    opacity: 0.7;
    background-position-x: 100px;
}

@keyframes animate {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }
}

@media screen and (max-width:770px) {
    p.ex2 {
        display: block;
    }

    p.garis {
        display: none;
    }
}